header {
  text-align: start;

  .headerContainer {
    display: flex;

    /* background image */
    img {
      width: 100vw;
    }

    .headerContents {
      position: absolute;
      width: 60%;
      height: 50%;
      top: 50%;
      left: 5%;
      color: white;
      z-index: 1;

      /* title */
      h1 {
        font-size: 2rem;
        font-weight: 600;
      }

      /* overview */
      p {
        width: 50%;
        font-size: 1rem;
      }

      /* btn div */
      .headerBtnWrapper {
        margin-top: 2rem;

        button {
          width: 120px;
          padding: 10px 15px;
          border: none;
          border-radius: 5%;
          background: #111111;
          color: whitesmoke;
          cursor: pointer;

          svg {
          }

          span {
            margin-left: 5px;
            font-size: 1rem;
            font-weight: 500;
          }

          &:hover {
            transform: scale(1.1);
          }

          &:first-child {
            background: red;
          }
        }
        button + button {
          margin-left: 10px;
        }
      }
    }
  }
}
