@import '../../static/styles/commons/netflixButton.scss';

header {
  text-align: start;

  .headerContainer {
    display: flex;

    /* background image */
    img {
      width: 100vw;
    }

    .headerContents {
      position: absolute;
      width: 60%;
      height: 50%;
      top: 50%;
      left: 5%;
      color: white;
      z-index: 1;

      /* title */
      h1 {
        font-size: 3rem;
        font-weight: 600;
        text-shadow: 0.5px 0 #111111, 0 0.5px #111111, 0.5px 0 #111111,
          0 0.5px #111111;
      }

      /* overview */
      p {
        display: inline-block;
        width: 50%;
        font-size: 1.2rem;
        text-shadow: 0.5px 0 #111111, 0 0.5px #111111, 0.5px 0 #111111,
          0 0.5px #111111;

        /* 멀티 라인 글자 제한 css */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 1.2em;
        height: 6em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 5 = 6em */
      }

      /* btn div */
      .headerBtnWrapper {
        margin-top: 2rem;
      }
    }
  }
}
