.genreMovieListContainer {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: whitesmoke;
  margin-top: 3rem;

  .genreMovieContainer {
    display: inline-block;
    margin: 5px;
  }

  img {
    width: 17em;
    cursor: pointer;

    &:hover {
      width: 18em;
    }
  }
}
